*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
--cor-fundo-nav-bar: #011126 ;
--cor-fundo-nav-bar2: #022047 ;
--cor-letra-nav-bar: #FEFEFE ;
--cor-letra-logo-span: #BBC6D7 ;
--cor-titulo-card-claro: #2685BF ;
--cor-titulo-card-escuro:#011126 ;
--cor-paragrafo-card: #737373 ;
}

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:white;
}

/* NAVEGAÇÃO VAN-BAR */
.menu-bar{
background-color: var(--cor-fundo-nav-bar);
height: 10vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 2vw; /* Largura relatica ao viewport ou seja pela tela */
z-index: 10;
border-radius: 0 0 10px;
position: relative;
position: fixed;
}

.logo a{
color: var(--cor-letra-nav-bar);
margin: 1em;
text-decoration: none;
font-size: 30px;
}

.logo span{
color: var(--cor-letra-logo-span);
}

.menu-bar ul{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.menu-bar ul li{
padding: 1em 2vw;
position: relative;
}

.menu-bar ul li a{
color: var(--cor-letra-nav-bar);
text-decoration: none;
font-size: 1.2em;
display: inline-block;
transition: transform .6s ease;
}

.menu-bar ul li a:hover{
color: var(--cor-letra-logo-span);
transform: scale(1.15) translateY(-2px);
}

.dropdown-menu{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color: var(--cor-fundo-nav-bar);
/*     border-radius: 10%;
*/}

.dropdown-menu ul{
display: none;
}

.menu-bar ul li a.ativa{
pointer-events: none;
cursor: default;
color: var(--cor-titulo-card-claro);
}
/* login final */

.menu-bar ul li:hover .dropdown-menu ul{
display: block;
margin: 10px;
}

.dropdown-menu ul li{
width: 100%;
padding:1em ;
}

.fas{
/*    float: right; */
margin-left: 10px;
padding-top: 3px;
}
/* NAVEGAÇÃO VAN-BAR FINAL */

/* login */

section{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
width: 100%;
}

.formulario-caixa{
position: relative;
width: 400px;
height: 450px;
background-color: transparent;
border: 2px solid var(--cor-letra-logo-span);
border-radius: 20px;
backdrop-filter: blur(15px);
display: flex;
justify-content: center;
align-items: center;
}

h2{
font-size: 2em;
color: var(--cor-fundo-nav-bar);
text-align: center;
}

.input-caixa{
position: relative;
margin: 30px 0;
width: 310px;
border-bottom: 2px solid var(--cor-titulo-card-claro);
}

.input-caixa label{
position: absolute;
top:50%;
left: 5px;
transform: translateY(-50%);
color: var(--cor-fundo-nav-bar2);
font-size: 1em;
pointer-events: none;
transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.input-caixa input{
width: 100%;
height: 50px;
background-color: transparent;
border: none;
outline: none;
font-size: 1em;
padding:0 35px 0 5px;
color: var(--cor-fundo-nav-bar2);
}

.input-caixa i{
position: absolute;
right: 8px;
color: var(--cor-titulo-card-claro);
font-size: 1.2rem;
top: 20px;
}

button{
width: 100%;
height: 40px;
border-radius: 30px;
background-color: var(--cor-titulo-card-claro);
color: var(--cor-letra-nav-bar);
border: none;
outline: none;
cursor: pointer;
font-size: 1em;
font-weight: 600;
transition: all .4s ease;
}

button:hover{
background-color: var(--cor-letra-logo-span);
color: var(--cor-fundo-nav-bar2);
}


/* ANIMAÇÃO FUNDO */
